<ion-view title="Appointment Reminder">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/Wxq1erNHRwC8TfSGjcSB_cliniconnect_full.png) no-repeat center;" class="has-header">
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-select" name="selectPatient">
                <span class="input-label">Select Patient</span>
                <select></select>
            </label>
            <label class="item item-input" name="selectDate">
                <span class="input-label">Select Date</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="selectTime">
                <span class="input-label">Select Time</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="enterMessage">
                <span class="input-label">Message</span><textarea placeholder="Optional Message"> </textarea>
            </label>
        </form>
        <button id="appointmentReminder-button2" class="button button-positive  button-block icon-left ion-android-calendar">Send Appointment Reminder</button>
    </ion-content>
</ion-view>