<ion-view title="Send Labs">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/eITBCLDQsaMJ2jvXCMJI_cliniconnect_full.png) no-repeat center;" class="has-header">
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-select" name="selectPatientLab">
                <span class="input-label">Patient</span>
                <select></select>
            </label>
            <label class="item item-select" name="selectLab">
                <span class="input-label">Lab</span>
                <select></select>
            </label>
            <label class="item item-select" name="clinicName">
                <span class="input-label">Clinic Name</span>
                <select>
                    <option>UMKC Clinic</option>
                </select>
            </label>
            <label class="item item-select" name="selectPhysician">
                <span class="input-label">Physician</span>
                <select>
                    <option>Dr. Keith John</option>
                    <option>Dr. Rohit Matety</option>
                    <option>Dr. Kumar Love</option>
                    <option>Dr. Jenny Teaman</option>
                    <option>Dr. Larry Local</option>
                    <option>Dr. Franklin Schmidt</option>
                </select>
            </label>
            <label class="item item-input" name="specialInstructions">
                <span class="input-label">Special Instructions</span><textarea placeholder="Optional"> </textarea>
            </label>
        </form>
        <button id="sendLabs-button3" class="button button-positive  button-block icon-left ion-android-send">Send Lab Form</button>
    </ion-content>
</ion-view>